/* from html */
@media screen {
    #devWaiona div.dW_preloader div {
        background-image: url(variables/img/generic/preloader.png);
        background-repeat: no-repeat;
    }

    #devWaiona .dW_generic__preloadLoader {
        background-image: url(variables/img/generic/preloader.svg)
    }

    #devWaiona.dW_generic__webp-no div.dW_header div.dW_logo h3,
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_footer div.dW_logo h3 {
        background-image: url(variables/img/logo.png);
        /* background-size: 150px; */
    }

    #devWaiona.dW_generic__webp-yes div.dW_header div.dW_logo h3,
    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_footer div.dW_logo h3 {
        background-image: url(variables/img/logo.png);
        /* background-size: 150px; */
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background div.dW_content div.dW_titre h2 {
        background-image: url(variables/img/intro/cover_h900.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background div.dW_content div.dW_titre h2 {
        background-image: url(variables/img/intro/cover_h900.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-01.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-01.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-02.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-02.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-03.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-03.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-04.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-04.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-05.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-05.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-06.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-06.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-07.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-07.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-08.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-08.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="9"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-09.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="9"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-09.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="10"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-10.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="10"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-10.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="11"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-11.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="11"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-11.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="12"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-12.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="12"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-12.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-01.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-01.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-02.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-02.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-03.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-03.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-04.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-04.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-05.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-05.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-06.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-06.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-07.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-07.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-08.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-08.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_shadow img,
    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_shadow img {
        background-image: url(variables/img/intro/cover-packshot-shadow.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_shadow img,
    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_shadow img {
        background-image: url(variables/img/intro/cover-packshot-shadow.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-3.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-3.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-3.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-3.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_illus img {
        background-image: url(variables/img/cover/cover-illus.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_illus img {
        background-image: url(variables/img/cover/cover-illus.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="stronger"] img {
        background-image: url(variables/img/cover/cover-background-stronger.html)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="stronger"] img {
        background-image: url(variables/img/cover/cover-background-stronger-or.png)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="faster"] img {
        background-image: url(variables/img/cover/cover-background-faster.html)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="faster"] img {
        background-image: url(variables/img/cover/cover-background-faster-blu.png)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_resistance.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_resistance.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_resistance-fleche.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_resistance-fleche.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-stronger-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-stronger-ombre.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_legerete.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_legerete.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_legerete-fleche.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_legerete-fleche.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-faster-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-faster-ombre.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_avis-expert div.dW_avis:before {
        background-image: url(variables/img/avis-expert/avis-expert_quote.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_avis-expert div.dW_avis:before {
        background-image: url(variables/img/avis-expert/avis-expert_quote.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_background:before,
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_background:after {
        background-image: url(variables/img/gamme/gamme_background.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_background:before,
    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_background:after {
        background-image: url(variables/img/gamme/gamme_background.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li div.dW_visuel {
        background-image: url(variables/img/gamme/gamme-packshot-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li div.dW_visuel {
        /* background-image: url(variables/img/gamme/gamme-packshot-ombre.webp) */
    }
}

@media screen and (min-width: 768px) {
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background.webp)
    }
}

@media screen and (max-width: 767px) {
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background-mobile.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background-mobile.webp)
    }
}

@media screen {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px
    }

    body,
    p {
        font-size: 12px;
        font-family: Arial, Verdana, Helvetica, Sans-serif;
        color: #000000
    }

    div,
    p,
    dl,
    dt,
    ul,
    li {
        margin: 0px;
        padding: 0px
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
        padding: 0px
    }

    form,
    form fieldset,
    form fieldset label,
    form fieldset input,
    form fieldset select,
    form fieldset textarea {
        margin: 0px;
        padding: 0px
    }

    fieldset {
        border: 0px
    }

    img {
        display: inline;
        border: none
    }

    a img {
        border: none;
        cursor: pointer
    }

    a {
        text-decoration: underline;
        font-size: 12px;
        cursor: pointer
    }

    a:hover {}

    * {
        outline: none
    }

    #container-header {
        height: 66px;
    }

    #header {
        z-index: 9998;
    }

    .m-header-main {
        background-color: #fff !important;
        display: table;
        border-collapse: collapse;
        position: relative;
        width: 100%;
        height: 66px;
    }

    .m-header-main:after {
        background-image: linear-gradient(180deg, rgba(50, 50, 51, .2) 0, rgba(50, 50, 51, .1) 50%, rgba(50, 50, 51, 0) 95%);
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 5px;
    }

    .m-header-main.sticky {
        top: 0;
        position: fixed;
        width: 100%;
    }

    #main-container {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        font-family: Roboto-condensed, sans-serif;
        overflow: hidden;
        background-color: #fff;
    }

    .block-footer {
        position: relative;
        width: 100%;
        height: 600px;
        background: #edeff1;
    }

    .block-footer .container-services {
        width: 100%;
        height: 75px;
        background: #0082c3;
    }

    #container-header,
    .m-header-main {
        height: 0 !important;
    }

    .block-footer {
        display: none;
    }
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('includes/fonts/Roboto-Light-webfont.eot');
    src: url('includes/fonts/Roboto-Light-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Light-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Light-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('includes/fonts/Roboto-LightItalic-webfont.eot');
    src: url('includes/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-LightItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-LightItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('includes/fonts/Roboto-Regular-webfont.eot');
    src: url('includes/fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('includes/fonts/Roboto-Italic-webfont.eot');
    src: url('includes/fonts/Roboto-Italic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Italic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Italic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('includes/fonts/Roboto-Medium-webfont.eot');
    src: url('includes/fonts/Roboto-Medium-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Medium-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Medium-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('includes/fonts/Roboto-MediumItalic-webfont.eot');
    src: url('includes/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-MediumItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-MediumItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('includes/fonts/Roboto-Bold-webfont.eot');
    src: url('includes/fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Bold-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('includes/fonts/Roboto-BoldItalic-webfont.eot');
    src: url('includes/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-BoldItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-BoldItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('includes/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Light-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('includes/fonts/RobotoCondensed-RegularItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-RegularItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: DecathlonCube;
    font-weight: 400;
    font-style: normal;
    src: url('includes/fonts/DecathlonCube.eot');
    src: url('includes/fonts/DecathlonCube.eot#iefix') format("eot"),
        url('includes/fonts/DecathlonCube.woff2') format("woff2"),
        url('includes/fonts/DecathlonCube.woff') format("woff"),
        url('includes/fonts/DecathlonCube.ttf') format("truetype"),
        url('includes/fonts/DecathlonCube.html#DecathlonCube') format("svg");
}

/* from html */
@media screen {
    #devWaiona div.dW_preloader div {
        background-image: url(variables/img/generic/preloader.png);
        background-repeat: no-repeat;
    }

    #devWaiona .dW_generic__preloadLoader {
        background-image: url(variables/img/generic/preloader.svg)
    }

    #devWaiona.dW_generic__webp-no div.dW_header div.dW_logo h3,
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_footer div.dW_logo h3 {
        background-image: url(variables/img/logo.png);
        /* background-size: 150px; */
    }

    #devWaiona.dW_generic__webp-yes div.dW_header div.dW_logo h3,
    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_footer div.dW_logo h3 {
        background-image: url(variables/img/logo.png);
        /* background-size: 150px; */
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background div.dW_content div.dW_titre h2 {
        background-image: url(variables/img/intro/cover_h900.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background div.dW_content div.dW_titre h2 {
        background-image: url(variables/img/intro/cover_h900.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-01.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-01.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-02.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-02.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-03.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-03.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-04.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-04.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-05.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-05.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-06.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-06.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-07.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-07.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-08.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-08.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="9"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-09.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="9"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-09.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="10"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-10.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="10"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-10.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="11"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-11.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="11"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-11.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="12"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-12.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="12"] img {
        background-image: url(variables/img/intro/cover-ambiance-stronger-12.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-01.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-01.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-02.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-02.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-03.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-03.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-04.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="4"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-04.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-05.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="5"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-05.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-06.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="6"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-06.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-07.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="7"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-07.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-08.jpg)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_background[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="8"] img {
        background-image: url(variables/img/intro/cover-ambiance-faster-08.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_shadow img,
    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_shadow img {
        background-image: url(variables/img/intro/cover-packshot-shadow.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_shadow img,
    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_shadow img {
        background-image: url(variables/img/intro/cover-packshot-shadow.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="1"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="2"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-3.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="stronger"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-stronger-3.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-3.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_intro div.dW_packshot[data-cle="faster"] div.dW_content div.dW_visuels ul li[data-index="3"] img {
        background-image: url(variables/img/intro/cover-packshot-faster-3.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="stronger"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-stronger-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-1.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="1"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-1.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-2.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_silhouette div.dW_visuels[data-cle="faster"] ul li[data-index="2"] img {
        background-image: url(variables/img/cover/cover-silhouette-faster-2.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_illus img {
        background-image: url(variables/img/cover/cover-illus.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_illus img {
        background-image: url(variables/img/cover/cover-illus.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="stronger"] img {
        background-image: url(variables/img/cover/cover-background-stronger.html)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="stronger"] img {
        background-image: url(variables/img/cover/cover-background-stronger-or.png)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="faster"] img {
        background-image: url(variables/img/cover/cover-background-faster.html)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_cover div.dW_background div.dW_visuel[data-cle="faster"] img {
        background-image: url(variables/img/cover/cover-background-faster-blu.png)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_resistance.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_resistance.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_resistance-fleche.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_resistance-fleche.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-stronger-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="stronger"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-stronger-ombre.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_legerete.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:before {
        background-image: url(variables/img/versus/versus_legerete.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_legerete-fleche.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_infos:after {
        background-image: url(variables/img/versus/versus_legerete-fleche.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-faster-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_versus div.dW_content div.dW_terrain[data-cle="faster"] div.dW_titre:after {
        background-image: url(variables/img/versus/versus_terrain-titre-faster-ombre.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_avis-expert div.dW_avis:before {
        background-image: url(variables/img/avis-expert/avis-expert_quote.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_avis-expert div.dW_avis:before {
        background-image: url(variables/img/avis-expert/avis-expert_quote.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_background:before,
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_background:after {
        background-image: url(variables/img/gamme/gamme_background.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_background:before,
    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_background:after {
        background-image: url(variables/img/gamme/gamme_background.webp)
    }

    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li div.dW_visuel {
        background-image: url(variables/img/gamme/gamme-packshot-ombre.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li div.dW_visuel {
        /* background-image: url(variables/img/gamme/gamme-packshot-ombre.webp) */
    }
}

@media screen and (min-width: 768px) {
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background.webp)
    }
}

@media screen and (max-width: 767px) {
    #devWaiona.dW_generic__webp-no section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background-mobile.png)
    }

    #devWaiona.dW_generic__webp-yes section#dW_page div.dW_gamme div.dW_produits div.dW_liste ul li:after {
        background-image: url(variables/img/gamme/gamme-packshot-background-mobile.webp)
    }
}

@media screen {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px
    }

    body,
    p {
        font-size: 12px;
        font-family: Arial, Verdana, Helvetica, Sans-serif;
        color: #000000
    }

    div,
    p,
    dl,
    dt,
    ul,
    li {
        margin: 0px;
        padding: 0px
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
        padding: 0px
    }

    form,
    form fieldset,
    form fieldset label,
    form fieldset input,
    form fieldset select,
    form fieldset textarea {
        margin: 0px;
        padding: 0px
    }

    fieldset {
        border: 0px
    }

    img {
        display: inline;
        border: none
    }

    a img {
        border: none;
        cursor: pointer
    }

    a {
        text-decoration: underline;
        font-size: 12px;
        cursor: pointer
    }

    a:hover {}

    * {
        outline: none
    }

    #container-header {
        height: 66px;
    }

    #header {
        z-index: 9998;
    }

    .m-header-main {
        background-color: #fff !important;
        display: table;
        border-collapse: collapse;
        position: relative;
        width: 100%;
        height: 66px;
    }

    .m-header-main:after {
        background-image: linear-gradient(180deg, rgba(50, 50, 51, .2) 0, rgba(50, 50, 51, .1) 50%, rgba(50, 50, 51, 0) 95%);
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 5px;
    }

    .m-header-main.sticky {
        top: 0;
        position: fixed;
        width: 100%;
    }

    #main-container {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        font-family: Roboto-condensed, sans-serif;
        overflow: hidden;
        background-color: #fff;
    }

    .block-footer {
        position: relative;
        width: 100%;
        height: 600px;
        background: #edeff1;
    }

    .block-footer .container-services {
        width: 100%;
        height: 75px;
        background: #0082c3;
    }

    #container-header,
    .m-header-main {
        height: 0 !important;
    }

    .block-footer {
        display: none;
    }
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('includes/fonts/Roboto-Light-webfont.eot');
    src: url('includes/fonts/Roboto-Light-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Light-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Light-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('includes/fonts/Roboto-LightItalic-webfont.eot');
    src: url('includes/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-LightItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-LightItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('includes/fonts/Roboto-Regular-webfont.eot');
    src: url('includes/fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('includes/fonts/Roboto-Italic-webfont.eot');
    src: url('includes/fonts/Roboto-Italic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Italic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Italic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('includes/fonts/Roboto-Medium-webfont.eot');
    src: url('includes/fonts/Roboto-Medium-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Medium-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Medium-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('includes/fonts/Roboto-MediumItalic-webfont.eot');
    src: url('includes/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-MediumItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-MediumItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('includes/fonts/Roboto-Bold-webfont.eot');
    src: url('includes/fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-Bold-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-Bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('includes/fonts/Roboto-BoldItalic-webfont.eot');
    src: url('includes/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('includes/fonts/Roboto-BoldItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/Roboto-BoldItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('includes/fonts/RobotoCondensed-Light-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Light-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-LightItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('includes/fonts/RobotoCondensed-RegularItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-RegularItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-RegularItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-Bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('includes/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.woff2') format('woff2'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
        url('includes/fonts/RobotoCondensed-BoldItalic-webfont.svg') format('svg');
}

@font-face {
    font-family: DecathlonCube;
    font-weight: 400;
    font-style: normal;
    src: url('includes/fonts/DecathlonCube.eot');
    src: url('includes/fonts/DecathlonCube.eot#iefix') format("eot"),
        url('includes/fonts/DecathlonCube.woff2') format("woff2"),
        url('includes/fonts/DecathlonCube.woff') format("woff"),
        url('includes/fonts/DecathlonCube.ttf') format("truetype"),
        url('includes/fonts/DecathlonCube.html#DecathlonCube') format("svg");
}


@media screen and (max-width: 575px) {
    /* home page responsiveness */
    .dW_titre .dW_1 h2{
        font-size: 65px !important;
    }
    .dW_titre .dW_2 h2{
        font-size: 65px !important;
    }
    #devWaiona section#dW_page div.dW_story div.dW_item[data-index="7"] div.dW_illus {
        top: -23.4375vw;
        right: 22.041667vw !important;
        width: 126.552083px !important;
        height: 69.375vw !important;
    }
    #devWaiona section#dW_page div.dW_story div.dW_item[data-index="7"] div.dW_illus .dW_visuel img{
        object-fit: contain !important;
    }
    #devWaiona section#dW_page div.dW_versus>div.dW_content.dW_generic__startEventOnScroll div.dW_terrain div.dW_packshots .right-comp li{
        height: 150px !important;
        width: 150px !important;
        right: 0px !important;
        top: 0px !important;
    }
    #devWaiona section#dW_page div.dW_versus>div.dW_content.dW_generic__startEventOnScroll div.dW_terrain div.dW_packshots .left-comp li{
        height: 150px !important;
        width: 150px !important;
        left: 0px !important;
        top: 0px !important;
    }
    .apparel-text-bg h1 .dW_generic__dib span
    {
        font-size: 122px !important;
    }
}