body {
    transition: background-color .5s;
    position: relative;
}

.m-logo {
    height: 66px;
    width: 66px;
}

.m-logo a {
    height: 66px;
    width: 66px;
}

.m-logo a img {
    height: 100%;
}

.pages_logo {
    position: absolute;
    top: 0px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.pages_logo img {
    width: 95px;
    height: 117px;
}

.navigation__button__label {
    white-space: inherit;
}

.m-cart-area .m-cart-area-trigger {
    background: #f17321;
    text-decoration: none;
}

.m-cart-area .m-cart-area-trigger:after {
    background: #f17321;
}

.m-header-main {
    background-color: #ffff !important;
}

/* #main-container {
    margin-top: 66px;
} */

font {
    font-family: Roboto-Condensed;
}

/* sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #313844;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    transition: 0.3s;
    font-size: 16px;
}

.sidenav a:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    text-decoration: none;
}

.sidenav .closebtn:hover {
    background: transparent;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul {
    list-style: none;
    /* display: block; */
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
    margin: 3px 0px;
    transition: transition(all 0.6s ease);
}

.sidenav ul .active {
    border-left: 3px solid #ff7716;
    border-left: 3px solid #ff7716;
    background: linear-gradient(to right, rgb(0 0 0 / 0%) 0%, #ff7716b8 100%)
}

.sidenav ul .active a:hover {
    background: transparent;
}

/* .sidenav ul .active a {
    color: #eb7024
} */

.sidenav ul li a {
    /* color: rgba(255, 255, 255, 0.9); */
    color: #fff;
    font-size: 14px;
    /* padding: 1.05em 1em; */
    padding: 10px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
}
.sidenav ul li a img{
    height: 25px;
    width: 25px;
    padding-right: 20px;
}

.sidenav ul li {
    /* position: relative; */
    transition-duration: 0.5s;
}

.have_child {
    position: relative;
}

.child_sidebar {
    transition-duration: 0.5s;
    transition-property: display;
}

.child_sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    display: none;
    height: 100%;
    overflow: hidden;
    background: #107b10;
    z-index: 999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.selected {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

.close_childBar {
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 15px;
}

.sidenav ul li .sidebar-angle {
    position: absolute;
    top: 12px;
    right: 0px;
    transition-duration: 0.5s;
    color: rgba(255, 255, 255, 0.9);
}

.sidenav ul li:hover .sidebar-angle {
    right: -5px;
    transition-property: right;
    transition-duration: 0.5s;
}



.sidenav ul li a:hover {
    background: linear-gradient(to right, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 28%) 100%);
}

/* 
.have_child:after {
    content: '\f105';
    font-family: font-awesome;
    font-size: 0.5em;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 45%;
} */

.sidenav ul li i {
    font-size: 18px;
    padding-right: 12px;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
}

.nav-flyout {
    position: absolute;
    /* background-color: #080D11; */
    background-color: #00000040;
    z-index: 9;
    left: 40px;
    width: calc(100% - 40px);
    top: 0;
    backdrop-filter: blur(10px);
    height: 100vh;
    padding-top: 20px !important;
    display: none;
    transition: transform(translateX(100%));
    transition: (all 0.5s ease);

}

/* .nav-flyout li a {
    font-size: 12px !important;
} */

.sidenav ul li .toogle_child:hover .nav-flyout {
    display: block !important;
}

.nav-flyout a:hover {
    background-color: rgba(255, 255, 255, 0.05)
}

.sidenav ul>li:hover .nav-flyout {
    transform: (translateX(0));
    transition: (all 0.5s ease);
}

#main {
    transition: margin-left .3s;
    /* padding: 16px; */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    /* .sidenav a {
        font-size: 18px;
    } */
}

.navigation-on .navigation__button__label--opened {
    display: block;
}

/* shop page html */
.common-bg {
    background-color: #f6f6f6;
}

/* breadcrumb css start */
.breadcrumb-wrap {
    padding: 65px 0;
    text-align: center;
}

@media only screen and (max-width: 767.98px) {
    .breadcrumb-wrap {
        padding: 30px 0;
    }
}

.breadcrumb-wrap h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: #242424;
    display: block;
    padding-bottom: 10px;
    text-transform: capitalize;
}

@media only screen and (max-width: 767.98px) {
    .breadcrumb-wrap h1 {
        font-size: 22px;
    }
}

.breadcrumb-wrap .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item a:hover {
    color: #da2927;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:before {
    color: #7e7e7e;
    content: "/";
    font-size: 12px;
    margin: 0 5px;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item:first-child::before {
    display: none;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
    color: #da2927;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

/*----- breadcrumb style css end -----*/
.filters_checkbox {
    margin-top: 15px;
}

.filters_checkbox ul {
    margin: 10px 0px;
}

.filters_checkbox h5 {
    font-size: 18px;
}

.filters_checkbox ul li {
    height: 25px;
    display: flex;
    align-items: center;
}

.filters_checkbox ul li input {
    height: 16px;
    width: 16px;
}

.filters_checkbox ul li label {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: 200;
}

/* price slider */
.sidebar_box {
    margin: 20px 0px;
    display: flex;
}

.sidebar_box #rangePrimary {
    width: 60px;
    text-align: center;
    background: #e8e8e8;
    border: none;
    padding: 6px;
    border-radius: 5px;
    margin-left: 20px;
}

/* products page css */
.inner_main_wrapper {
    background: transparent;
    padding: 30px;
}

.products_wrap .row {
    margin-right: 0px;
    margin-left: 0px;
}

.products_wrap .product {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}

.products_wrap .product .product_img {
    height: 250px;
    width: 100%;
}

.product .product_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product .product_info {
    text-align: center;
}

.product_info .product_name h4 {
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 5px;
}

.product_detail {
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 5px;
}

.product_rating {
    text-align: center;
}

.product_rating .checked {
    color: #ffb339;
    font-size: 14px;
}

.price {
    text-align: center;
    color: #f17321;
    font-weight: 700;
}

.load_more_products_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load_more_products_btn button {
    width: 250px;
    height: 40px;
    border: none;
    color: #f17321;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_toogle_btn {
    height: 20px;
    width: 30px;
    cursor: pointer;
    /* padding: 10px; */
    position: absolute;
    top: 30px;
    right: 30px;
    background: #fff;
    z-index: 11;
    background: transparent;
    /* display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: column;
    align-content: space-between; */
}

.sidebar_toogle_btn div {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}



.navbar-brand img {
    height: 100%;
}

.navbar .navbar-brand {
    background-color: transparent;
}

.cerificate {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 73px 0 rgb(40 40 40 / 31%);

    /* .header__promo-text {
    padding: 7px 0 7px;
    color: #ffffff;
    background: #ff5e14; */
}

.testimonial__meta .testimonial__thumb {
    width: 100%;
}

.bg-overlay-theme-2:before {
    background-color: rgb(255 94 20 / 95%);
}

.portfolio-classic .portfolio-item .portfolio__content {
    padding-top: 10px;
}

.portfolio-classic .portfolio-item .portfolio__title {
    margin-bottom: 2px;
}

.portfolio-item .portfolio__title {
    font-size: 17px;
    line-height: 18px;
}

/* contact us page */
.contact__form-panel .form-group .form-control {
    height: 43px;
    padding: 0 0 0 15px;
    border-radius: 3px;
}

.contact__form-panel .form-group .form_txt_area {
    height: 120px;
}

.footer__widget-content .footer_logo {
    height: 93px;
}

.footer__contact {
    border: 1px solid #ededed;
    box-shadow: 0 1px 73px 0 rgb(40 40 40 / 9%);
}

.about-carousel .owl-stage-outer .owl-stage .portfolio-item .portfolio__img {
    height: 250px;
}

.about-carousel .owl-stage-outer .owl-stage .portfolio-item .portfolio__img img {
    height: 100%;
    object-fit: cover;
}

/* products page  */
.products_list_img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.portfolio-item .portfolio__content {
    padding: 15px;
    box-shadow: 0 1px 73px 0 rgb(40 40 40 / 15%);
}


.main-overlay {
    background: rgba(0, 0, 0, 0.4) !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    z-index: 3 !important;
    margin-left: 250px !important;
    transition: 0.3s;
}

/* button styling  */
.btn {
    height: 50px;
    line-height: 47px;
}

/* going green page */
.page_decription p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}

.going_green_globe {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.green_overlay {
    background-image: -webkit-linear-gradient(-90deg, rgba(27, 26, 26, 0) 0, rgba(4, 17, 39, 0) 0, #0d27044f 65%);
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    /* left: 15px; */
}

.animatedImages {
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
}


@media only screen and (max-width: 768px) {
    .going_green_globe {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .hot-products-listing .dW_generic__link .dW_visuel img{
        height: 165px !important;
        width: 165px !important;
    }
    #devWaiona section#dW_page div.dW_avis-expert div.dW_visuel[data-cle="ballon"]{
        width: 43vw;
        height: 43vh;
        top: 91.375vw;
    }
    #devWaiona section#dW_page div.dW_gamme>div.dW_titre div.dW_2 {
        margin-left: -17.479167vw;
    }
}

/* events page */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 30px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_detail {
    padding: 20px 12px;
    position: relative;

}

.card_detail .flag-icon {
    height: 70px;
    width: 70px;
    position: absolute;
    right: 20px;
    top: -40px;
    border-radius: 50%;
    overflow: hidden;
}

.card_detail .flag-icon img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card_detail h4 {
    margin-bottom: 0px;
}